<html>
  <body>
    <div class="puzzle_container" ng-if="puzzle != null">
      <div class="puzzle_grid">
        <table class="puzzle_grid_table">
          <tr class="puzzle_grid_row" ng-repeat="puzzle_row in puzzle.grid" ng-init="row = $index">
            <td ng-repeat="cell in puzzle_row" ng-init="col = $index"
                    ng-click="onCellClick(row, col)"
              		class="puzzle_grid_cell {{getCellClass(row, col)}}">
              <div ng-if="cell.open">
                <div style="position:relative; height: 100%; width: 100%">
                  <div class="cell_number">{{cell.number != null ? cell.number : ""}}</div>
                </div>
                <div class="cell_contents">{{cell.contents == "" ? "&nbsp;" : cell.contents}}</div>
              </div>
              <div ng-if="doesCellHaveFieldOpen(row, col)" style="position:relative">
                <div class="cellField">
                  <input type="text" id="cellFieldInput"
                            dont-bubble-keydown
                            focus-and-select="{{getCellFieldInitialValue()}}"
                            ng-model="cellFieldInputValue"
                            ng-keydown="onCellFieldKeyPress(cellFieldInputValue, $event.keyCode)">
                </div>
              </div>
            </td>
          </tr>
        </table>
        <input type="button" value="Re-assign numbers" ng-click="renumber()">
        <input type="checkbox" ng-model="settingsModel.maintainRotationalSymmetry"> Maintain rotational symmetry
      </div>
      <div class="clues_container">
        Across:
        <div contenteditable="true"
             dont-bubble-keydown
             lt-editable-val="across_clues"
             lt-on-edit="clueEditted('across', $op)"
             lt-do-edit="update_text_functions.across"
             style="font-family: 'Courier New'"
             id="across_clue">
            <div class="contenteditable_single_row">{{$line}}<br ng-if="$line == ''" /></div>
        </div>
      </div>
      <div class="offline_mode">
        Offline mode is <br/>
        <input type="radio" name="offlineMode" value="yes"
                            ng-model="settingsModel.offlineMode"
                            ng-change="toggleOffline()" /> On <br/>
        <input type="radio" name="offlineMode" value="no"
                            ng-model="settingsModel.offlineMode"
                            ng-change="toggleOffline()" /> Off <br/>
      </div>
    </div>
    <div class="puzzle_container" ng-if="puzzle == null">
      Loading puzzle...
    </div>
  </body>
</html>
