body {
	background-color: #fcfcde;
}

div.puzzle_container {
	display: table;
	margin-left: auto;
	margin-right: auto;

	border: 1px solid #808080;
	border-radius: 10px;
	padding: 10px;
	background-color: #defbfc;

	-webkit-box-shadow: 10px 10px 42px -8px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 42px -8px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 42px -8px rgba(0,0,0,0.75);
}

div.puzzle_container_panel {
	max-width: 500px;
}

div.puzzle_container_column {
	display: table-cell;
}

div.puzzle_container_box {
	padding: 10px;
}

div.puzzle_grid {
	padding: 0;
}

table.puzzle_grid_table {
    border-width: 0 0 1px 1px;
    border-spacing: 0;
    border-collapse: collapse;
    border-style: solid;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    margin: auto;
}
tr.puzzle_grid_row {
}
td.puzzle_grid_cell {
	margin: 0;
	padding: 4px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: black;
    padding: 0px;
    width: 30px;
    height: 30px;
    background-clip: padding-box;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

div.cell_number {
    position: absolute;
    top: -5px;
    left: 0px;

    font-size: 9px;
}

div.cell_contents {
    font-weight: bold;
}

td.closed_cell {
    background-color: black;
}
td.closed_cell_highlighted {
    background-color: #313131;
}
td.open_cell {
    background-color: white;
}
td.open_cell_highlighted {
    background-color: #8fb28f;
}
td.open_cell_highlighted_intermediate {
    background-color: #ccffcc;
}

.cellField {
    position: absolute;
    z-index: 2;
    background-color: #e6e68a;
    padding: 3px;
    left: 0px;
    top: 15px;
}

.contenteditable_single_row {
    font-family: 'Courier New';
}
.contenteditable_single_row:empty {
    display: block;
    height: 1em;
}

div.clues-highlight-primary {
    background-color: #ccffcc;
}

div.clues-highlight-secondary {
    background-color: #f0f0f0;
}

div.clue-container {
	background-color: white;
    border: 2px solid black;
    margin: 5px;
    width: 400px;
    height: 300px;
    overflow-y: scroll;
}

div.display-answer-length-next-to-line::before {
    content: attr(data-answer-length)
}

a.select-list-option:focus {
    background-color: #ff0000;
}
